
<h1>Devices</h1>

<!-- search bar -->
<div class="container">
    <div class="row">
        <div class="col-3 col-m-3 col-p-12">
            <h5>Search Devices by Name</h5>
            <form action="/ski-areas/search" id="ski-areas-search" method="GET" role="searchForm">
                <input id="name" name="name" type="text" placeholder="Search Devices by Name" required="required">
                <input type="submit" id="submit" value="SUBMIT" name="submit" />
            </form>
        </div>
    </div>
</div>

<br>

<div class = "container">
  <h2>Devices</h2>
    <table class = "table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope = "col">Name</th>
            <th scope = "col">Manufacturer</th>
            <th scope = "col">Device On/Off</th>
            <th scope = "col">Current Energy Usage</th>
            <th scope = "col">Adjust Device</th>    
            <th scope = "col">Delete</th>          
          </tr>
        </thead>
      <tbody>
        {{#each devices}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{name}}</td>
          <td>{{manufacturer}}</td>
          <td align="center">{{deviceOnOff}}</td>
          <td align="center">{{currentEnergyUsage}}</td>
          <td><a href = "/devices/{{id}}"><button class= "btn btn-default btn-primary" >Adjust {{name}}</button></a></td>
          <form id="delete-task" action="/devices/{{id}}/?_method=DELETE" method="POST">
            <td><button class= "btn btn-default btn-danger" onclick="return confirm('Are you sure you want to delete this device?');" type = "submit">Delete</button></td>
          </form>
        </tr>
        {{/each}}  
      </tbody>
    </table>
</div>
