
<h1>Devices</h1>

<!-- search bar -->
<div class="container">
    <div class="row">
        <div class="col-3 col-m-3 col-p-12">
            <h5>Search Devices by Name</h5>
            <form action="/devices/search" id="devices-search" method="GET" role="searchForm">
                <input id="name" name="name" type="text" placeholder="Search Devices by Name" required="required">
                <input type="submit" id="submit" value="SUBMIT" name="submit" />
            </form>
        </div>
    </div>
</div>

<br>

<div class = "container">
  <h2>Devices</h2>
    <table class = "table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope = "col">Name</th>
            <th scope = "col">Manufacturer</th>
            <th scope = "col">Device On/Off</th>
            <th scope = "col">Current Energy Usage (in watts)</th>
            <th scope = "col">Average Energy Usage (in watts)</th>
            <th scope = "col">Adjust Device</th>    
            {{!-- <th scope = "col">Delete</th>           --}}
          </tr>
        </thead>
      <tbody>
        {{#each devices}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{name}}</td>
          <td>{{manufacturer}}</td>
            {{#if deviceOnOff}}
                <td align="center">On</td>
            {{else}}
                <td align="center">Off</td>
            {{/if}}
            {{#if deviceOnOff}}
                <td align="center">{{currentEnergyUsage}}</td>
            {{else}}
                <td align="center">0</td>
            {{/if}}
          <td align="center">{{averageEnergyUsage}}</td>
          <td><a href = "/devices/{{id}}"><button class= "btn btn-default btn-primary" >Adjust {{name}}</button></a></td>
          {{!-- <td><button class= "btn btn-default btn-danger"  onclick= "deleteDevice({{id}})">Delete</button></td> --}}
        </tr>
        {{/each}}  
      </tbody>
    </table>
</div>
